# # denied all files
# <RequireAll>
#     Require all denied
# </RequireAll>

# # whitelist only *.php and other files
# <FilesMatch "((^$)|(^.+\.(php|css|map|js)$))">
#     Require all granted
# </FilesMatch>
